body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.typing-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-40%, -40%);
    text-align: center;
}

#typing-text {
    font-size: 24px;
    color: #00FF00;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #333;
    animation: typing 2s steps(24) infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
body {
    margin: 0;
    overflow: hidden;
}

.custom-cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    background: url('cursor.png') no-repeat;
    background-size: cover;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000; /* İmleci diğer içeriklerin üzerine getir */
}

body {
    cursor: url('cursor.png'), auto;
}

#solUstDugme {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#solUstDugme:hover {
    background-color: #2980b9;
}